body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.background {
    background-image: linear-gradient(to right, rgb(29, 29, 29), rgb(19, 19, 19) 50%, rgb(29, 29, 29));
    background-size: 100%;
    background-position: 50% 100%;
    background-repeat: repeat;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 10% 10% 10% 7% 11% 8% 12% 8% 10% 10%;
    height: 200%;
    width: 100%;
}

.container-imagens {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    // justify-content: space-around;
    // flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 3;
}

.container-imagens-2 {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    grid-column: 1/-1;
    grid-row: 4;
}

.container-imagens-3 {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    grid-column: 1/-1;
    grid-row: 5;
}

.container-imagens-4 {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    grid-column: 1/-1;
    grid-row: 6;
}

.container-imagens-5 {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    grid-column: 1/-1;
    grid-row: 7;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/4;
    margin-left: 3%;
    cursor: pointer;
    h1 {
        font-size: 350%;
        font-family: $fontlogo;
        color: rgba(240, 240, 240, 0.500);
        animation: flicker 1.5s infinite alternate;
    }
    h1::-moz-selection {
        color: var(--neon-text-color);
    }
    h1::selection {
        color: var(--neon-text-color);
    }
    h1:focus {
        outline: none;
    }
    @keyframes flicker {
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            text-shadow: -0.2rem -0.2rem 20px rgb(110, 110, 110), 0 0 5px var(--neon-text-color), 0 0 8px var(--neon-text-color), 0 0 10px var(--neon-text-color), 0 0 15px var(--neon-text-color);
            box-shadow: 0 0 2px #fff, inset 0 0 2px #fff, 0 0 4px var(--neon-border-color), inset 0 0 4px var(--neon-border-color), 0 0 4px var(--neon-border-color), inset 0 0 4px var(--neon-border-color);
        }
        20%,
        24%,
        55% {
            text-shadow: none;
        }
    }
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: bottom;
    grid-column: 5/11;
    justify-content: flex-end;
    align-items: flex-end;
}

.button-logo {
    position: absolute;
    display: flex;
    outline: none;
    background: inherit;
    border: none;
    margin: 4% 0% 0 2.5%;
}

.btn1 {
    margin-right: 5%;
}

.button {
    text-decoration: none;
}

.button-header {
    display: block;
    padding: 20px 30px;
    outline: none;
    color: rgba(240, 240, 240, 0.500);
    background: inherit;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: -1px -1px 5px rgba(255, 81, 0, 0.247), 1px -1px 5px rgba(255, 81, 0, 0.247), -1px 1px 5px rgba(255, 81, 0, 0.247), 1px 1px 5px rgba(255, 81, 0, 0.247);
    text-align: center;
    position: relative;
    border: none;
    overflow: hidden;
    font-weight: 100;
    font-size: 150%;
    font-family: $fontlogo;
    margin-left: 3%;
    cursor: pointer;
}

.button-header::before,
.button-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    background-color: #fff;
    height: 100%;
    opacity: .2;
    transform: rotate(45deg);
    transition: all ease .8s;
    color: rgb(177, 177, 177)
}

.button-header::after {
    transition-delay: 0.2s;
}

.button-header:hover::before,
.button-header:hover::after {
    left: 100%;
}

.button-header:active {
    transform: translateY(2px);
}

.imagem {
    -webkit-transition: -webkit-filter .2s ease-in-out;
    transition: -webkit-filter .2s ease-in-out;
    transition: filter .2s ease-in-out;
    transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}

.imagem:hover {
    transform: translateY(3px);
    -webkit-filter: contrast(135%);
    filter: contrast(135%);
}

.imagem-1 {
    border-radius: 4px;
    box-shadow: -2px -2px 5px rgba(255, 81, 0, 0.247), 2px -2px 5px rgba(255, 81, 0, 0.247), -2px 2px 5px rgba(255, 81, 0, 0.247), 2px 2px 5px rgba(255, 81, 0, 0.247);
    height: 100%;
    width: 100%;
}

.imagem1 {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imagem-2 {
    border-radius: 4px;
    box-shadow: -2px -2px 5px rgba(255, 81, 0, 0.247), 2px -2px 5px rgba(255, 81, 0, 0.247), -2px 2px 5px rgba(255, 81, 0, 0.247), 2px 2px 5px rgba(255, 81, 0, 0.247);
    margin-left: 1%;
    height: 100%;
    width: 100%;
}

.imagem2 {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

:root {
    // neon color
    --neon-text-color: rgba(255, 81, 0, 0.521);
}