@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;500&display=swap');
body,
html {
    width: 100%;
    height: 200%;
    margin: 0px;
}

.background {
    background-image: linear-gradient(to right, rgb(29, 29, 29), rgb(19, 19, 19) 50%, rgb(29, 29, 29));
    background-size: 100%;
    background-position: 50% 100%;
    background-repeat: repeat;
}

.container {
    display: grid;
    grid-template-columns: 5% 2.5% 2.5% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 2.5% .5% 4% 4% 4% 4% .5% 4% 4% 4% 4% 4% .5% 4% 4% 4% 4% 4% 4%;
    height: 100%;
    width: 100%;
}

.container-1 {
    background-color: rgb(23, 23, 23);
    grid-column: 1/-1;
    box-shadow: 5px 5px 15px rgb(19, 19, 19);
}

.container-recent {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    // justify-content: space-around;
    // flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 3;
}

.favorites-container {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    // justify-content: space-around;
    // flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 8;
}

.likes-container {
    margin: .5% 5% .5% 5%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    // justify-content: space-around;
    // flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 14;
}

.recent {
    margin: 0 0 0 20%;
    grid-column: 1/4;
    grid-row: 2;
}

.recent-line {
    grid-column: 4/-1;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
}

.favorites {
    margin: 0 0 0 40%;
    grid-column: 1/2;
    grid-row: 7;
}

.favorites-line {
    grid-column: 3/-1;
    grid-row: 7;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
}

.liked {
    margin: 0 0 0 40%;
    grid-column: 1/2;
    grid-row: 13;
}

.liked-line {
    grid-column: 2/-1;
    grid-row: 13;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
}

h3 {
    font-family: 'Red Rose', cursive;
    color: rgba(240, 240, 240, 0.500);
    margin: 0;
    font-weight: 100;
    font-size: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/2;
    margin-left: 3%;
    background: inherit;
    background-color: rgb(23, 23, 23);
}

h1 {
    font-size: 200%;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    color: rgba(240, 240, 240, 0.500);
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    color: var(--neon-text-color);
}

h1::selection {
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 20px rgb(110, 110, 110), 0 0 5px var(--neon-text-color), 0 0 8px var(--neon-text-color), 0 0 10px var(--neon-text-color), 0 0 15px var(--neon-text-color);
        box-shadow: 0 0 2px #fff, inset 0 0 2px #fff, 0 0 4px var(--neon-border-color), inset 0 0 4px var(--neon-border-color), 0 0 4px var(--neon-border-color), inset 0 0 4px var(--neon-border-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.btn2 {
    text-shadow: -1px -1px 5px rgba(10, 116, 255, 0.664), 1px -1px 5px rgba(10, 116, 255, 0.664), -1px 1px 5px rgba(10, 116, 255, 0.664), 1px 1px 5px rgba(10, 116, 255, 0.664);
}

.btn {
    text-shadow: -1px -1px 5px rgba(111, 0, 255, 0.521), 1px -1px 5px rgba(111, 0, 255, 0.521), -1px 1px 5px rgba(111, 0, 255, 0.521), 1px 1px 5px rgba(111, 0, 255, 0.521);
}

.btn1 {
    text-shadow: -1px -1px 5px rgba(255, 103, 255, 0.712), 1px -1px 5px rgba(255, 103, 255, 0.712), -1px 1px 5px rgba(255, 103, 255, 0.712), 1px 1px 5px rgba(255, 103, 255, 0.712);
}

.button-header {
    display: block;
    padding: 20px 30px;
    outline: none;
    color: rgba(240, 240, 240, 0.500);
    background: inherit;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    border: none;
    overflow: hidden;
    font-weight: 100;
    font-size: 150%;
    font-family: 'Red Rose', cursive;
    margin: 1% 3% 1% 0;
    cursor: pointer;
}

.button-header::before,
.button-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    background-color: #fff;
    height: 100%;
    opacity: .2;
    transform: rotate(45deg);
    transition: all ease .8s;
    color: rgb(177, 177, 177)
}

.button-header::after {
    transition-delay: 0.2s;
}

.button-header:hover::before,
.button-header:hover::after {
    left: 100%;
}

.button-header:active {
    transform: translateY(2px);
}

.button-logo {
    position: absolute;
    display: flex;
    outline: none;
    background: inherit;
    border: none;
    margin: 1% 0% 0% 0%;
}

:root {
    --neon-text-color: rgba(255, 81, 0, 0.521);
}

.button {
    text-decoration: none;
    margin: 1% 3% 1% 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(36, 36, 36, 0.507);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.imagem-1 {
    border-radius: 4px;
    box-shadow: -2px -2px 5px rgba(255, 81, 0, 0.247), 2px -2px 5px rgba(255, 81, 0, 0.247), -2px 2px 5px rgba(255, 81, 0, 0.247), 2px 2px 5px rgba(255, 81, 0, 0.247);
    height: 100%;
    width: 100%;
}

.imagem-2 {
    border-radius: 4px;
    box-shadow: -2px -2px 5px rgba(255, 81, 0, 0.247), 2px -2px 5px rgba(255, 81, 0, 0.247), -2px 2px 5px rgba(255, 81, 0, 0.247), 2px 2px 5px rgba(255, 81, 0, 0.247);
    margin-left: 1%;
    height: 100%;
    width: 100%;
}

.imagem1 {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imagem2 {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imagem {
    -webkit-transition: -webkit-filter .2s ease-in-out;
    transition: -webkit-filter .2s ease-in-out;
    transition: filter .2s ease-in-out;
    transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
    -webkit-filter: brightness(100%) contrast(100%);
    filter: brightness(100%) contrast(100%);
}

.imagem:hover {
    transform: translateY(3px);
    -webkit-filter: brightness(135%) contrast(130%);
    filter: brightness(135%) contrast(130%);
}

.overlay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000096;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    margin-bottom: 1%;
    border-radius: 0 0 5px 5px;
    z-index: 1;
}

.imagem:hover .overlay {
    height: 180%;
    opacity: 1;
}

.lable1 {
    margin-right: 2%;
}

//trash button
#slideone {
    width: 80px;
    height: 30px;
    background: rgb(250, 250, 250);
    position: absolute;
}

.trash {
    position: absolute;
    background-color: inherit;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
}

.fa-trash-o {
    box-sizing: border-box;
    position: relative;
    margin-right: 50%;
    -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.432);
    color: rgba(44, 43, 43, 0.993);
    transition: all ease-in-out;
}

.trash:checked+.fa-trash-o {
    color: rgba(255, 0, 0, 0.301);
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.295);
    animation: .5s linear trash;
}

@keyframes trash {
    0%,
    10% {
        transform: scale(1);
        opacity: .5;
        color: lavender;
    }
    45% {
        transform: scale(1.5);
        opacity: .75;
    }
    50% {
        transform: scale(.1);
        opacity: 1;
        color: rgba(122, 1, 1, 0.205);
        text-shadow: 2px 2px 6px rgba(122, 1, 1, 0.295);
    }
    90%,
    95%,
    100% {
        transform: scale(1);
        text-shadow: none;
    }
}

.fav-btn {
    position: absolute;
    background-color: inherit;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
}

.fa-star {
    box-sizing: border-box;
    position: relative;
    margin-right: 50%;
    -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.432);
    color: rgba(44, 43, 43, 0.993);
    transition: all ease-in-out;
}

.fav-btn:checked+.fa-star {
    color: rgb(255, 255, 0);
    -webkit-text-stroke: .5px rgb(255, 255, 0);
    animation: .5s linear favorite;
}

@keyframes favorite {
    0%,
    10% {
        transform: scale(1.2);
        opacity: .5;
        color: rgb(230, 235, 188);
    }
    45% {
        transform: scale(.1) rotate(30deg);
        opacity: .75;
    }
    50% {
        transform: scale(1.5) rotate(-50deg);
        opacity: 1;
        color: rgb(217, 255, 0);
        text-shadow: 2px 2px 6px rgb(217, 255, 0);
    }
    90%,
    95% {
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-5deg);
    }
}

label {
    margin: 2%;
}

.like-btn {
    margin-right: 15%;
    position: absolute;
    background-color: inherit;
    width: 6%;
    height: 50%;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
}

.fa-heart {
    box-sizing: border-box;
    position: relative;
    margin-right: 5%;
    font-size: var(--like-font-size);
    -webkit-text-stroke: 2px rgba(110, 110, 110, 0.795);
    color: rgba(110, 110, 110, 0.116);
    transition: all ease-in-out;
}

.like-btn:checked+.fa-heart {
    color: red;
    -webkit-text-stroke: 1px red;
    animation: .5s linear burst;
}

@keyframes burst {
    0%,
    10% {
        transform: scale(1);
        opacity: .5;
        color: lavender;
    }
    45% {
        transform: scale(.2) rotate(30deg);
        opacity: .75;
    }
    50% {
        transform: scale(1.5) rotate(-37.5deg);
        opacity: 1;
        color: red;
        text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
    }
    90%,
    95% {
        transform: scale(1) rotate(10deg);
        text-shadow: none;
    }
    100% {
        transform: rotate(-2.5deg);
    }
}

//log in
//sign in

/* The popup form - hidden by default */

.containerSignIn {
    position: relative;
    border-radius: 5px;
    background-color: #4b8543;
    padding: 20% 0 30% 0;
    width: 100%;
    height: 10px;
}

h2 {
    color: rgba(240, 240, 240, 0.500);
    font-family: 'Red Rose', cursive;
}


/* style inputs and link buttons */

input,
.btnform {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btnform:hover {
    opacity: 1;
}


/* add appropriate colors to fb, twitter and google buttons */

.fb {
    width: 100%;
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}


/* style the submit button */

input[type=submit] {
    background-color: #4caf4fe1;
    color: white;
    cursor: pointer;
    justify-items: center;
}

input[type=submit]:hover {
    background-color: #4caf4f;
}

.col {
    float: left;
    width: 40%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 40%;
    margin: auto;
    padding: 0 5%;
    margin-top: 6px;
}

.col3 {
    border-radius: 0 0 0 5px;
    float: left;
    width: 40%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    background: rgba(71, 71, 71, 0.842);
}

.col4 {
    border-radius: 0 0 5px 0;
    float: right;
    width: 40%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    background: rgba(71, 71, 71, 0.842);
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #b4b4b4;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

.hide-md-lg {
    display: none;
}

.bottom-container {
    margin-top: 4%;
    width: 100%;
    text-align: center;
    background-color: rgb(71, 71, 71);
    border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    .vl {
        display: none;
    }
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    // display: grid;
    // grid-template-columns: 40% 20% 40%;
    // grid-template-rows: 22% 22% 21% 21% 14%;
    border-radius: 10px;
    background-color: #000000cc;
    margin: 5% auto 10% auto;
    border: none;
    width: 80%;
    height: 30%;
}

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}